.banner__book {
  display: flex;
  justify-content: center;
  /* 
  height: 1600px;

  position: relative;

  align-items: center;
  
  margin-top: -30em; */
}
.imgBook {
  width: 90%;
  margin-top: 5em;
  position: relative;
}

.banner__book::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.8;
}

.banner-info__book {
  position: absolute;
  /* padding: 0.3em;
  position: absolute;
  width: 100%;

  text-align: center;
  color: #fff;
  margin: auto; */
}

.banner-tittle__book {
  line-height: 1.5;
  font-size: 2em;
}

.botton-container__book {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 22em;
  flex-direction: row;
  justify-content: space-between;
}

.click-me__book {
  color: #f6fcff !important;
  font-size: 16px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #5c2ad1;
  transition: all 1s ease;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.click-me__book:hover {
  background: #4a1faf;
  color: #fff !important;
}
.button__back {
  display: inline-block;
  margin: 0.5em;
  background-color: #b9b9b9;
  color: #313131;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.25s;
}
.button__back:hover {
  background-color: #d3d3d3;
}
p {
  font-size: 23px;
  line-height: 2;
  font-size: 1em;
  font-family: "Space Mono", monospace;
  font-weight: 500;
}
